.auth-main {
    position: relative;
}

.auth-main .auth-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.auth-main .auth-wrapper .saprator {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
}

.auth-main .auth-wrapper .saprator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--border-color); 
    z-index: 1;
}

.auth-main .auth-wrapper .saprator span {
    font-size: 0.875rem;
    padding: 20px 70px;
    background: #fff;
    z-index: 5;
    text-transform: uppercase;
    color: var(--headings-color); 
    font-weight: 500;
    outline: 1px solid var(--border-color); 
    outline-offset: -16px;
    border-radius: 10px;
}

.auth-main .auth-wrapper.v3 {
    display: flex;
    align-items: center;
}

.auth-main .auth-wrapper.v3 .auth-form {
    min-height: 100vh;
    padding: 24px;
}

.auth-main .auth-wrapper .auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.auth-main .auth-wrapper .auth-form .card {
    width: 100%;
    max-width: 480px;
    box-shadow: none;
}

.auth-main .auth-wrapper .auth-form img {
    padding-right: 15px;
}

.auth-main .auth-wrapper .auth-form h5 span {
    text-decoration: underline;
}

.auth-main .auth-wrapper .auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
