<div class="container mt-4">
    <h2 class="text-center">Patient Monitorings </h2>
    <h5 *ngIf="patientId" class="text-center">patientId = {{formatId(patientId)}}</h5>
    <div class="card shadow-lg border-0 rounded">
      <div class="card-body">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th scope="col">Monitoring ID</th>
              <th scope="col">Administratif Agent ID</th>
              <th scope="col">Creation Timestamp</th>
              <th scope="col">Update Timestamp</th>
              <th scope="col">Medical Monitoring Data</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Monitoring of patientMonitorings">
              <td>{{ formatId(Monitoring.id) }}</td>
              <td>{{ formatId(Monitoring.administrationAgentId) }}</td>
              <td>{{ Monitoring.creationTimestamp| date:'short' }}</td>
              <td>{{ Monitoring.updateTimestamp| date:'short' }}</td>
              <td>
                <button class="btn btn-outline-secondary btn-sm" (click)="openModal(Monitoring)">
                  Show Data
                </button>
              </td>
              <td>
                <button class="btn btn-outline-info btn-sm" (click)="navigateToUpdateMonitoring(Monitoring.id)">
                  Update 
                </button>
                <button class="btn btn-outline-danger btn-sm" (click)="openDeleteModal(Monitoring.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="patientMonitorings.length === 0" class="text-center my-3">
          <p>No Monitorings found for this patient.</p>
        </div>
      </div>
    </div>
  
    <div class="modal fade show" *ngIf="showInfoModal" style="display: block;" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Monitoring Details</h5>
            <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>Monitoring ID:</strong> {{ formatId(selectedMonitoring?.id) }}</p>
            <p><strong>Patient ID:</strong> {{ formatId(selectedMonitoring?.patientId) }}</p>
            <p><strong>Administratif Agent ID:</strong> {{ formatId(selectedMonitoring?.administrationAgentId) }}</p>
            <p><strong>Creation Timestamp:</strong> {{ selectedMonitoring?.creationTimestamp | date:'medium'}}</p>
            <p><strong>Update Timestamp:</strong> {{ selectedMonitoring?.updateTimestamp | date:'medium'}}</p>
            <h5>Medical Monitoring Data</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry of selectedMonitoring?.medicalMonitoringData | keyvalue">
                  <td>{{ entry.key }}</td>
                  <td>{{ entry.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div  class="modal fade show" *ngIf="showDeleteModal" style="display: block;" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Deletion</h5>
            <button type="button" class="btn-close" (click)="closeDeleteModal()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this medical-Monitoring?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="closeDeleteModal()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  