<div class="auth-main hero-section">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="/" class="d-flex justify-content-center">
            <img width="200" src="assets/images/logo/logo2-removebg-preview.png" alt="logo" loading="lazy">
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Hi, Welcome Back</b></h2>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="loginData.username" required />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="loginData.password" type="password" class="form-control" id="password" required />
            <label for="password">Password</label>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
            </div>
          </div>
          <div *ngIf="errorMessage" class="text-purple-700 text-center">
            {{ errorMessage }}
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary" (click)="login()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
